<h1>Products</h1>

<% @products.each do |product| %>
  <div>
    <h3><%= product.title %></h3>
    <p><strong>Price:</strong> $<%= product.price %></p>
    <p><strong>Stock:</strong> <%= product.stock_quantity %> units</p>
    <p><%= product.description %></p>
  </div>
  <hr>
<% end %>